
.wrapper .section{
	width: calc(100% - 225px);
	margin-left: 225px;
	transition: all 0.5s ease;
}
.wrapper .section .container{
    margin: 30px;
    background: #fff;
    padding: 50px;
    line-height: 28px;
  }
.dashboard-header{
	margin-left:1rem;
	margin-bottom: 1rem;
}
.dashboard-container{
	display: flex;
	justify-content: space-around;
	width:100%;
	margin:auto;
	align-items: center;
	height:100%;
	flex-wrap: wrap;
}
.dashboard-columns{
	width:30%;
	height:20vh;
	margin:1rem 0rem;
	background-color: black;
}
.dashboard-columns:nth-child(1){
	background-color: #FF6263;
}
.dashboard-columns:nth-child(2){
	background-color: #5DA3FA;
}
.dashboard-columns:nth-child(3){
	background-color: #00D84A;
}
.dashboard-columns:nth-child(4){
	background-color: #DDD101;
}
.dashboard-columns:nth-child(5){
	background-color: #E03B8B;
}
.dashboard-columns:nth-child(6){
	background-color: #03C6C7;
}
.column-header{
	height:20%;
	background-color: white;
	opacity: 0.6;
	padding-left:0.5rem;
}
.column-content{
	display: flex;
	justify-content: space-around;
	align-items: center;
	height:80%
}
.column-content i{
	font-size:50px;
	font-weight: 600;
}
 .column-content .column-data{
	font-size:30px;
	font-weight: 600;
}

.activity_chart{
	margin-top: 20px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    width:95%;
    margin:auto;
	height:45vh;
}

.container .chart-data{
	margin: 30px 0px;
    padding: 50px 0px;
}
@media(max-width:1025px){
	.dashboard-columns{
		width:45%;
	}
	.activity_chart{
		height: 40vh;
    }
}

@media(max-width:768px){
    .wrapper .section .container{
        margin:5px;
        padding:10px;
    }
	.dashboard-header h1{
		font-size: 16px;
	}
	.dashboard-header p{
		font-size: 12px;
	}
	.dashboard-container{
		flex-direction: column;
	}
	.dashboard-columns{
		width: 90%;
	}
	.column-content i{
		font-size:35px;
	}
	 .column-content .column-data{
		font-size:18px;
	}
	.wrapper .sidebar{
		width: 200px;
	}
	.wrapper .section{
		width: calc(100% - 200px);
		margin-left: 200px;
	}
	.activity_chart{
        width:100%;
		height: 35vh;
    }
}