<<<<<<< HEAD
=======

.content-table table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
  margin-top:20px;
}
.content-table td {
  border: 1px solid #ddd;
}
.content-table td:before {
  display: none;
}
.content-table td, th {
  padding: 10px;
}
.content-table thead th{
  background-color: #000;
  color: #f1f1ff;
}
.content-table tbody tr:nth-child(even){
  background-color: #f2f2f2;
}
.content-table .select {
  padding: 10px;
}
.content-table .edit button, .content-table .delete button{
  padding:5px 15px;
  width: 100%;
  border: 0;
  border-radius: 4px;
  color: #FFFFFF;
  font-family: inherit;
  font-weight: 500;
  line-height: inherit;
  text-transform: uppercase;
  cursor: pointer;
}
.content-table .edit button{
  background-color: #000;
  color:#f1f1f1
}
.content-table .edit-content{
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  top:20%;
  left:20%;
  z-index: 10;
  box-shadow: 10px 4px 86px 2px rgba(83,83,167,0.6);
  -webkit-box-shadow: 10px 4px 86px 2px rgba(83,83,167,0.6);
  -moz-box-shadow: 10px 4px 86px 2px rgba(83,83,167,0.6);
}
.content-table .edit-content{
  height: 50vh;
  width:60vw;
}

.content-table .edit-content .cross{
  padding:10px;
  background:#000;
  color:#f1f1f1;
  cursor:pointer;
}
.content-table .delete button{
  background-color: #D82E2F;
}
.addElementHeader {
  display: flex; 
  justify-content:space-between;
  padding:10px;
  }
.addElementHeader p{
  font-weight:600;
  font-size:25px;
  }
.addElementHeader button{
  background: linear-gradient(to right,#4b6cb7,#182848);
  color:#f1f1f1;
  cursor: pointer;
  padding: 8px;
  border-radius: 5px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 14px;
  margin:10px;
}
.content.active, .collapsible:hover {
  background-color: #f1f1f1;  
}
  
.content {
  padding: 0 12px;
  display: none;
  justify-content: center;
  align-items: center;
}
.form_wrapper {
  min-height:50vh;
  display:flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  padding: 25px;
  z-index: 10;
}
.form_wrapper h2 {
  font-size: 1.5em;
  line-height: 1.5em;
  margin: 0;
}
.form_wrapper .title_container {
  text-align: center;
  padding-bottom: 15px;
}
.form_wrapper h3 {
  font-size: 1.1em;
  font-weight: normal;
  line-height: 1.5em;
  margin: 0;
}
.form_wrapper .form-row{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.form_wrapper label {
  font-size: 12px;
}
.form_wrapper .row {
  margin: 10px -15px;
}
.form_wrapper .row > div {
  padding: 0 15px;
  box-sizing: border-box;
}
.form_wrapper .input_field {
  position: relative;
  margin-bottom: 20px;
  width:45%;
}
.form_wrapper .input_field > span {
  position: absolute;
  left: 0;
  top: 0;
  color: #333;
  height: 100%;
  border-right: 1px solid #cccccc;
  text-align: center;
  width: 30px;
}
.form_wrapper .input_field > span > i {
  padding-top: 10px;
}
.form_wrapper .textarea_field > span{
  border:none;
}
.form_wrapper input[type=text], .form_wrapper input[type=email], .form_wrapper input[type=password]{
  width: 100%;
  padding: 8px 10px 9px 35px;
  height: 35px;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  outline: none;
  transition: all 0.3s ease-in-out;
}
.form_wrapper textarea {
  width: 100%;
  padding: 8px 10px 9px 35px;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  outline: none;
  transition: all 0.3s ease-in-out;
}
.form_wrapper input[type=text]:hover, .form_wrapper input[type=email]:hover, .form_wrapper input[type=password]:hover, .form_wrapper textarea {
  background: #fafafa;
}

.form_wrapper input[type=text]:focus, .form_wrapper input[type=email]:focus, .form_wrapper input[type=password]:focus .form_wrapper textarea {
  box-shadow: 0 0 2px 1px rgba(255, 169, 0, 0.5);
  border: 1px solid #f5ba1a;
  background: #fafafa;
}
.form_wrapper input[type=submit] {
  background: linear-gradient(to right,#4b6cb7,#182848);
  width: 30%;
  border: none;
  outline: none;
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out;
  border-radius: 4px;
  padding: 10px 15px;
  color: #FFFFFF;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: inherit;
  text-transform: uppercase;
  cursor: pointer;
}
.form_wrapper input[type=submit]:hover {
  background: linear-gradient(to right,#5974b3,#2b4373)
}
.form_wrapper input[type=submit]:focus {
  background: linear-gradient(to right,#5974b3,#2b4373)
}
.delete_container{
  display: none;
  position: absolute;
  top:20%;
  left:30%;
  z-index: 10;
}

.delete_container .box {
  background-color: #f1f1f1;
  height: 55vh;
  width:35vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 9999;
  border-radius: 10px;
  box-shadow: 10px 4px 86px 2px rgba(83,83,167,0.6);
  -webkit-box-shadow: 10px 4px 86px 2px rgba(83,83,167,0.6);
  -moz-box-shadow: 10px 4px 86px 2px rgba(83,83,167,0.6);
}

.delete_container .box h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #112a43;
}
.delete_container .box p {
  color: #112a43;
}

.delete_container .warn_info {
  min-height: 120px;
  width: 95%;
  margin: 30px 0;
  background-color: #ffe7d9;
  padding: 15px;
  border-radius: 4px;
  position: relative;
}
.delete_container .warn_info::before {
  position: absolute;
  content: "";
  min-height: 120px;
  width: 3px;
  top: 0px;
  left: 0px;
  background-color: #f47142;
}

.delete_container .warn_info h4 {
  color: #7e1709;
  margin: 10px 0;
}

.delete_container .warn_info p {
  color: #f47142;
}
.delete_container .clearfix{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.delete_container .cross {
  cursor: pointer;
  background-color: #000;
  text-align: center;
  width: 100%;
  color:#f1f1f1;
  border-radius:10px 10px 0px 0px;
}
.delete_container .clearfix button{
  border: none;
  outline: none;
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out;
  border-radius: 4px;
  padding: 10px 15px;
  color: #FFFFFF;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: inherit;
  text-transform: uppercase;
  cursor: pointer;
}
.delete_container .clearfix .btn1 {
  margin-right: 5px;
  margin-bottom: 10px;
  background-color: black;
  
}

.delete_container .clearfix .btn2 {
  margin-bottom: 10px;
  background-color: red;
}


@media(max-width:768px){
  .form_wrapper .form-row{
    flex-direction: column;
  }
  .form_wrapper .input_field {
    width:90%;
  }
  .addElementHeader {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .content-table .edit-content, .content-table .edit-content.project{
    left:5%;
    height: 65vh;
    width: 85vw;
  }
  .delete_container{
    left:5%;
  }
  .delete_container .box {
    height: 65vh;
    width: 85vw;
  }
  .delete_container .clearfix{
    flex-direction: column;
  }
}

>>>>>>> task/projects_configuration
