.wrapper .sidebar{
	background: linear-gradient(to top,#4b6cb7,#182848);
	position: fixed;
	top: 0;
	left: 0;
	width: 225px;
	height: 100%;
	padding: 20px 0;
	transition: all 0.5s ease;
}

.wrapper .sidebar .profile{
	margin-bottom: 30px;
	text-align: center;
}

.wrapper .sidebar .profile img{
	display: block;
	width: 100px;
	height: 100px;
    border-radius: 50%;
	margin: 0 auto;
}

.wrapper .sidebar .profile h3{
	color: #ffffff;
	margin: 10px 0 5px;
}

.wrapper .sidebar .profile p{
	color: rgb(206, 240, 253);
	font-size: 14px;
}

.wrapper .sidebar ul li .nav-header{
	cursor: pointer;
}

.wrapper .sidebar ul li > a,
.wrapper .sidebar ul li .nav-header,
.wrapper .sidebar ul li .nav-dropdown a{
	display: block;
	padding: 13px 30px;
	border-bottom: 1px solid #10558d;
	color: rgb(241, 237, 237);
	position: relative;
}
.wrapper .sidebar ul li > a {
	font-size: 14px;
}
.wrapper .sidebar ul li .nav-dropdown{
	font-size: 12px;
}

.wrapper .sidebar ul li > a .icon,
.wrapper .sidebar ul li .nav-header .icon,
.wrapper .sidebar ul li .nav-dropdown a .icon{
	color: #dee4ec;
	width: 30px;
	display: inline-block;
}

.wrapper .sidebar ul li > a:hover, 
.wrapper .sidebar ul li .nav-header:hover{
	color: #0c7db1;
	background:white;
    border-right: 2px solid rgb(5, 68, 104);
}

.wrapper .sidebar ul li > a:hover .icon,
.wrapper .sidebar ul li .nav-header:hover .icon{
	color: #0c7db1;
}

.wrapper .sidebar ul li > a:hover::before,
.wrapper .sidebar ul li .nav-header:hover::before{
	display: block;
}
.wrapper .sidebar ul li .nav-dropdown a,
.wrapper .sidebar ul li .nav-dropdown a .icon {
	color:#000;
}
.wrapper .sidebar ul li .nav-dropdown{
	background-color: white;
	margin-left: 10px;
	margin-right: 5px;
	border-radius: 10px;
}

.wrapper .section .top_navbar{
	background: linear-gradient(to right,#4b6cb7,#182848);
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 15px;
}
.wrapper .section .top_navbar .logout button{
	background-color: red;
    outline: none;
    width: 100%;
    border: 0;
    border-radius: 4px;
    padding:5px 15px;
    color: #FFFFFF;
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: inherit;
    text-transform: uppercase;
    cursor: pointer;
}
.wrapper .section .top_navbar .hamburger p i{
	font-size: 28px;
	color: #f4fbff;
	cursor: pointer;
}
.wrapper .section .top_navbar .hamburger p span{
	color:#f1f1f1;
	margin-left:10px;
}
.wrapper .section .top_navbar .hamburger p:hover{
	color: #a2ecff;
}
.side-bar-navigation.active .wrapper .sidebar{
	left: -225px;
}

.side-bar-navigation.active .wrapper .section{
	margin-left: 0;
	width: 100%;
}
