@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');
*{
	list-style: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
  /* font-family: 'Roboto', sans-serif; */
}

body{
	background: #f5f6fa;
}

.wrapper .section .container{
	box-shadow: 10px 4px 86px 2px rgba(83,83,167,0.15);
	-webkit-box-shadow: 10px 4px 86px 2px rgba(83,83,167,0.15);
	-moz-box-shadow: 10px 4px 86px 2px rgba(83,83,167,0.15);
	border-radius: 5px;
}